@mixin propidadesPrincipal ($bg-color,$dark,$ancho,$alto) {
    background-color:$bg-color ;
    @if $dark == modoOscuro {
        color: white;
    }@else if(modoClaro){
        color: black;
    }
    @else {
       color: $color-primario;
    }
    width: $ancho;
    height: $alto;
}