

.tarjeta{
    display: flex;
    margin: 5px;
    align-items: center;
    @include propidadesPrincipal(rgb(255, 255, 255),modoclaro ,auto ,auto );
    .tarjeta__texto{
        margin-left:10px;
        h4{
            margin-bottom: 10px;
        }
       
    }
    button {
        margin-top: 10px;
       @extend .boton;
       @include propidadesPrincipal(rgb(4, 0, 255),modoOscuro ,100px ,auto );
    }

}

.tarjetaVertical{
    @extend .tarjeta;
    flex-direction: column;
    @include propidadesPrincipal(rgb(255, 255, 255),"blanco" ,250px ,auto );
}